@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(https://fonts.googleapis.com/css?family=Workbench:regular);

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.footer {
  font-size: 0.75rem;
  font-weight: 100;
  font-style: italic;
}

.footer a {
  color: #fff;
  text-decoration:underline;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1f1f1f;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.TodoWrapper h1 {
  /* font-family: 'Sixtyfour', sans-serif; */
  font-family: 'Workbench', sans-serif;
  color: #4caf50;
}

.TodoWrapper p {
  color: #fff;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #4caf50;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  transition: 0.3s;
}

.todo-btn:hover {
  transform: scale(1.1);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4caf50;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.Todo:hover {
  transform: scale(1.05);
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

